<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="admin console">
    <meta name="author" content="Yu">
    <link rel="shortcut icon" href="/static/img/favicon.png">

    <title>Admin console {% block title %} {% end %}</title>

    <!-- Bootstrap Core CSS -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/font-awesome.min.css" rel="stylesheet" media="screen">

    <!-- Custom CSS -->
    <link href="/static/css/3-col-portfolio.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>



    <![endif]-->
    <!-- jQuery -->
    <script type="text/javascript" src="/static/js/jquery-1.11.3.js"></script>
    <script src="/static/js/wow.min.js"></script>

    {% block style %}

    {% end %}
</head>

<body background="/static/img/bg-2-1600.jpg">

<!-- Navigation -->
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{context}}/">Home</a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li>
                    <a href="{{context}}/?type=top">Top</a>
                </li>
                <li>
                    <a href="{{context}}/?type=monthly">Monthly</a>
                </li>
                <li>
                    <a href="{{context}}/?type=free">Free</a>
                </li>
                <li>
                    <a href="{{context}}/logout" style="padding-left: 700px">Logout</a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>
<div id="container">
    <div id="main">
        {% block main%}

        {% end %}
    </div>
</div>

<!-- Bootstrap Core JavaScript -->
<script src="/static/js/bootstrap.min.js"></script>

{% block script %}

{% end %}

<!-- Footer -->
<footer>
    <div class="row">
        <div class="col-lg-12">
            <p>Copyright &copy; https://www.appstrom.com 2016. All rights Reserved.</p>
        </div>
    </div>
    <!-- /.row -->
</footer>

</body>
</html>