{% extends "logon_base.html" %}

{% block main %}

<div class="body-content">
    <div class="row">
        <div class="col-md-6">
            <h2>Error</h2>
            <p class="lead">{{msg}}</p>
        </div>
    </div>
</div>
{% end %}
