{% extends "base.html" %}

{% block title %}
list page
{% end %}

{% block main %}
<!-- Portfolio Item Heading -->
<div class="row" style="margin-left: 50px;">
    <div class="col-lg-12">
        <h1 class="page-header">{{msg['appname']}}
            <small>{{msg['title']}}</small>
        </h1>
    </div>
</div>
<!-- /.row -->

<!-- Portfolio Item Row -->
<div class="row" style="margin-left: 250px">


    <div class="col-md-8">
        <img class="img-responsive" src="{{msg['icon']}}" alt="{{msg['title']}}">
    </div>

    <div class="col-md-4">
        <h3>Description</h3>
        <p>{{msg['description']}}</p>
        <h3>Details</h3>
        <ul>
            <li>Type '{{msg['appType']}}'</li>
            <li>Developer '{{msg['developer']}}'</li>
            <li>Tag '{{msg['tag']}}'</li>
            <li>Coins '{{msg['coins']}}'</li>
            <li>Price '{{msg['price']}}'</li>
            <li>Views '{{msg['views']}}'</li>
            <li>Likes '{{msg['likes']}}'</li>
            <li>Version '{{msg['version']}}'</li>
            <li>OS version '{{msg['osVersion']}}'</li>
            <li>Downloads '{{msg['downloads']}}'</li>
        </ul>
    </div>
    <div class="btn-group">

        <a href="{{msg['icon']}}" class="btn btn-info" type="button">Download</a>
        <a href="https://play.google.com"><img src="/static/img/google-play.jpg" alt="" width="90" height="35" style="margin-left: 60px"></a>
        <button class="btn wow slideInRight" data-wow-delay=".2s" title="Mark" name="mark" style="margin-left: 20px"><i id="heart" class="fa fa-heart-o"><span> Mark</span></i></button>

        <button class="btn wow slideInRight" data-wow-delay=".3s" title="Favorite" name="like" style="margin-left: 20px"><i id="thumb" class="fa fa-thumbs-o-up"><span> Like</span></i></button>
    </div>

</div>
<!-- /.row -->

<!-- Related Projects Row -->
<div class="row" style="margin: 20px">

    <div class="col-lg-12">
        <h3 class="page-header">Related Pictures</h3>
    </div>
    <!--<div class="col-md-offset-3">-->
        <!--<a href="/upload/pictures" class="btn btn-info" type="button">Upload Pictures</a>-->
        <!--<input class="btn btn-danger" type="button" value="Delete Selected Pictures" onClick="postrequest()">-->
    <!--</div><br>-->

    {% for pic in pictures %}

    <div class="col-sm-3 col-xs-6">
        <a href="{{pic['url']}}">
            <img class="img-responsive portfolio-item" src="{{pic['url']}}" alt="" width="400" height="300">
            <!--<label>-->
                <!--<input type="checkbox" value="{{pic['id']}}" name="ids">-->
            <!--</label>-->
        </a>
    </div>

    {% end %}

</div>

<div class="row">

    <div class="col-sm-6 col-sm-offset-3">

        <form id="contact-form" role="form">
            <div class="ajax-hidden">

                <div class="form-group wow fadeInUp" data-wow-delay=".2s">
                            <textarea class="form-control" id="c_message" name="c_message" rows="7"
                                      placeholder="Message" required></textarea>
                </div>

                <button type="submit" class="btn btn-lg btn-block wow fadeInUp" data-wow-delay=".3s">Send</button>
            </div>
            <div class="ajax-response"></div>
        </form>

    </div>

</div><!-- .row -->
<!-- /.row -->

<hr>

<!-- /.container -->
{% end %}

{% block script %}

<script>
    var countChecked = function () {
        var n = $("table input:checked");
        var a = []
        $.each(n, function (index, item) {
            var v = $(item).val();
            a.push(v)
        });

        return a;
    }

    var postrequest = function () {
        $.post("/delete/pictures", { 'ids': JSON.stringify(countChecked())},function () {
            alert("Done")
        }).always(function () {
            window.location.reload();
        });
    }

</script>

{% end %}
