{% extends "base.html" %}

{% block title %}
list page
{% end %}

{% block main %}

<div class="body-content">
    <div class="row">
        <div class="col-md-6">
            <h2>Error</h2>
            <p class="lead">{{msg}}</p>
        </div>
        <div class="col-md-6">
            <h3>What can I do?</h3>
            <p class="lead">If you're a site vistor</p>
            <p> Nothing you can do at the moment. If you need immediate assistance, please send us an email instead. We apologize for any inconvenience.</p>
            <p class="lead">If you're the site owner</p>
            <p>This error can only be fixed by server admins, please contact your website provider.</p>
        </div>
    </div>
</div>

{% end %}