{% extends "base.html" %}

{% block title %}
list page
{% end %}

{% block style %}
<style type="text/css">

    ul {
        list-style: none;
    }

    .left-location {
        padding-top: 0;
        padding-left: 20px;
        padding-bottom: 20px;
        margin-left: 20px;
        border-radius:10px;
    }


    label {
        display: block;
        width: 140px;
    }

    label:hover {
        background-color: #e9e7ef;
    }

    table {
        width: 100%;
        background-color: transparent;
        border-collapse: collapse;
        border-spacing: 0;
    }

    .upload {
        width: 60px;
        margin-left: auto;
        margin-right: auto;
    }

    .upload:hover {
        background: #A0FFA2;
    }

    .img-responsive {
        margin: 0 auto;
    }

    .desc {
        margin: 0 60px;
        display: block;
    }

</style>
{% end %}

{% block main %}

<!-- Page Header -->
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">App Storm
            <small>V 1.0</small>
            <form class="navbar-form" action="/" role="search" method="get" style="float: right">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search" name="keyword" id="srch-term">
                    <div class="input-group-btn">
                        <button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
                    </div>
                </div>
            </form>
        </h1>
    </div>
</div>


<!-- Projects Row -->
{% for row in msg %}
<div class="row">
    {% for k in row %}
    <div class="col-md-4 portfolio-item">
        <a href="/detail?id={{k['id']}}" target="_blank">
            <img class="img-responsive" src="{{k['icon']}}" alt="{{k['appname']}}" width="200" height="200">
        </a>
        <h5>
            <a class="desc" href="/detail?id={{k['id']}}">{{k['title']}}</a>
        </h5>
        <p class="desc">{{k['description']}}</p>
    </div>
    {% end %}
</div>
{% end %}
<!-- /.row -->

<hr>

<!-- Pagination -->
<div class="row text-center">
    <div class="col-lg-12">
        <ul class="pagination">
            <li>
                <a href="#null" onclick="javascript:history.back();">&laquo;</a>
            </li>
            {% for p in urls %}
            <li>
                <a href="{{p['url']}}">{{p['page']}}</a>
            </li>
            {% end %}
            <li>
                <a href="#null" onclick="javascript:history.forward();">&raquo;</a>
            </li>
        </ul>
    </div>
</div>
<!-- /.row -->
<hr>

<!-- /.container -->

{% end %}
