<!DOCTYPE html>
<html>
<head>
    <title>搜索热词</title>
    <script type="text/javascript" src="static/jquery-1.10.2.min.js"></script>
    <style type="text/css">
        ul {
            list-style: none;
        }

        label {
            display: block;
            width: 140px;
        }

        label:hover {
            background-color: #e9e7ef;
        }

        table {
            width: 100%;
            background-color: transparent;
            border-collapse: collapse;
            border-spacing: 0;
        }

        .fright {
            position: absolute;
            margin-top: 40px;
            right: 10px;
        }
    </style>
</head>
<body>


<table border="1" cellpadding="20" class="tb-class">
    <thead>
    <tr>
        <th>
            搜索词
        </th>
        <th>
            搜索次数
        </th>
        <th>
            操作
        </th>
    </tr>
    </thead>
    <tbody>
    {% for i,k in enumerate(msg) %}
    <tr>
        <td>{{k['name']}}</td>
        <td>{{k['count']}}</td>
        <td>
            <label>
                <input type="checkbox" value="{{k['_id']}}" name="ids">
            </label>
        </td>
    </tr>
    {% end %}
    </tbody>
</table>

<div>
    <input class="fright" type="button" value="删除选中" onClick="postrequest()"><br>
</div>


<script>
    var countChecked = function () {
        var n = $("table input:checked");
        var a = []
        $.each(n, function (index, item) {
            var v = $(item).val();
            a.push(v)
        });

        return a;
    }

    var postrequest = function () {
        $.post("/hotsearch", { 'ids': JSON.stringify(countChecked())},function () {
            alert("操作完成")
        }).always(function () {
                    window.location.reload();
                });
    }

</script>

</body>
</html>