{% extends "logon_base.html" %}

{% block main %}
    <form class="login-form" action="login" onsubmit="return passConfirm()" method="POST">
        <div class="login-wrap">
            <p class="login-img"><i class="icon_lock_alt"></i></p>
            <div class="input-group">
                <span class="input-group-addon"><i class="icon_profile"></i></span>
                <input id="verify" type="text" class="form-control" name="username" placeholder="Username or Email address" autofocus>
            </div>
            <div class="input-group">
                <span class="input-group-addon"><i class="icon_key_alt"></i></span>
                <input id="password" type="password" class="form-control" name="password" placeholder="Password">
            </div>
            <label class="checkbox">
                <input type="checkbox" value="remember-me"> Remember me
                <span class="pull-right"> <a href="#"> Forgot Password?</a></span>
            </label>
            <button class="btn btn-primary btn-lg btn-block" type="submit">Login</button>
            <div class="account">
                <input class="btn btn-info btn-lg btn-block" type="button" value="Signup" onClick="location.href='/account'" >
            </div>
        </div>
    </form>
{% end %}


{% block script %}
<script>
    function passConfirm() {
        var verify = document.getElementById("verify").value;
        var pass = document.getElementById("password").value;
        var ok = true;
        if (!verify){
            alert("Email or Username Do not match");
            ok = false;
        }
        else if (!pass){
            alert("password Do not match");
            ok = false;
        }
        else {
            //alert("Passwords Match!!!");
        }
        return ok;
    }
</script>

{% end %}