{% extends "logon_base.html" %}

{% block main %}

    <form class="login-form" action="account" onsubmit="return passConfirm()" method="POST">
        <div class="login-wrap">
            <p class="login-img"><i class="icon_lock_alt"></i></p>
            <div class="input-group">
                <span class="input-group-addon"><i class="icon_profile"></i></span>
                <input id="email" type="email" class="form-control" name="email" placeholder="me@example.com" autofocus>
            </div>
            <div class="input-group">
                <span class="input-group-addon"><i class="icon_profile"></i></span>
                <input type="text" class="form-control" name="username" placeholder="Username">
            </div>
            <div class="input-group">
                <span class="input-group-addon"><i class="icon_key_alt"></i></span>
                <input id="pass1" type="password" class="form-control" name="password" placeholder="Password">
            </div>

            <div class="input-group">
                <span class="input-group-addon"><i class="icon_key_alt"></i></span>
                <input id="pass2" type="password" class="form-control" name="confirmPass" placeholder="Confirm Password">
            </div>

            <div class="input-group">
                <span class="input-group-addon"><i class="icon_profile"></i></span>
                <input id="admin" type="password" class="form-control" name="admin" placeholder="Admin Key">
            </div>

            <button class="btn btn-primary btn-lg btn-block" type="submit">confirm</button>
        </div>
    </form>

{% end %}

{% block script %}
<script>
    function passConfirm() {
        var pass1 = document.getElementById("pass1").value;
        var pass2 = document.getElementById("pass2").value;
        var email = document.getElementById("email").value;
        var admin = document.getElementById("admin").value;
        var ok = true;
        if (!email){
            alert("Email Do not match");
            ok = false;
        }

        else if (!admin){
            alert("Admin Key Do not match");
            ok = false;
        }

        else if (!pass1 || !pass2 || pass1 != pass2) {
            alert("Passwords Do not match");
            document.getElementById("pass1").style.borderColor = "#E34234";
            document.getElementById("pass2").style.borderColor = "#E34234";
            ok = false;
        }
        else {
            //alert("Passwords Match!!!");
        }
        return ok;
    }
</script>

{% end %}

