{% extends "base.html" %}

{% block main %}
<form action="property?id={{msg['id']}}" class="form-horizontal" role="form" method="POST">
    <div class="form-group">
        <label class="control-label col-sm-2" for="appname">AppName: '{{msg['appname']}}'</label>

        <div class="col-sm-10">
            <input type="text" class="input-large" name="appname" id="appname" placeholder="Enter">
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-sm-2" for="developer">Developer: '{{msg['developer']}}'</label>

        <div class="col-sm-10">
            <input type="text" class="input-large" name="developer" id="developer" placeholder="Enter">
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-sm-2" for="tag">Tag: '{{msg['tag']}}'</label>

        <div class="col-sm-10">
            <input type="text" class="input-large" name="tag" id="tag" placeholder="Enter">
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-sm-2" for="title">Title: '{{msg['title']}}'</label>

        <div class="col-sm-10">
            <input type="text" class="input-large" name="title" id="title" placeholder="Enter">
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-sm-2" for="description">Description: '{{msg['description']}}'</label>

        <div class="col-sm-10">
            <input type="text" class="input-large" name="description" id="description" placeholder="Enter">
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-sm-2" for="price">Price: '{{msg['price']}}'</label>

        <div class="col-sm-10">
            <input type="text" class="input-large" name="price" id="price" placeholder="Enter">
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-sm-2" for="downloads">Downloads: '{{msg['downloads']}}'</label>

        <div class="col-sm-10">
            <input type="text" class="input-large" name="downloads" id="downloads" placeholder="Enter">
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-sm-2" for="likes">Likes: '{{msg['likes']}}'</label>

        <div class="col-sm-10">
            <input type="text" class="input-large" name="likes" id="likes" placeholder="Enter">
        </div>
    </div>

    <div class="col-sm-10">
        <label class="control-label col-sm-2">Type: '{{msg['appType']}}'</label>
    </div>

    <div class="col-sm-10">
        <label class="control-label col-sm-2">Size: '{{msg['appSize']}}'</label>

    </div>

    <div class="col-sm-10">
        <label class="control-label col-sm-2">Coins: '{{msg['coins']}}'</label>
    </div>

    <div class="col-sm-10">
        <label class="control-label col-sm-2">Free: '{{msg['free']}}'</label>
    </div>

    <div class="col-sm-10">
        <label class="control-label col-sm-2">Version: '{{msg['version']}}'</label>
    </div>

    <div class="col-sm-10">
        <label class="control-label col-sm-2">OS Version: '{{msg['osVersion']}}'</label>
    </div>

    <div class="col-sm-10">
        <label class="control-label col-sm-2">Views: '{{msg['views']}}'</label><br><br>
        <input type="submit" class="btn btn-info" value="submit"/>
    </div>

</form>
{% end %}