{% extends "base.html" %}

{% block style %}

<style>
    .elem {
        margin-top: 5px;
        margin-bottom: 0px;
        margin-right: 200px;
    }

    .add {
        margin-top: 10px;
    }

    .sub {
        margin-top: 10px;
    }
</style>

{% end %}

{% block script %}
<script type="text/javascript">
    function addfile() {
        var div = document.createElement("div");
        var f = document.createElement("input");
        f.setAttribute("type", "file")
        f.setAttribute("name", "pictures")
        f.setAttribute("size", "100")
        f.setAttribute("class", "btn btn-info")
        f.setAttribute("class", "elem")
        div.appendChild(f)

        var d = document.createElement("input");
        d.setAttribute("type", "button")
        d.setAttribute("onclick", "deleteFile(this)");
        f.setAttribute("class", "btn btn-info")
        d.setAttribute("value", "remove")
        div.appendChild(d)
        document.getElementById("pictures").appendChild(div);
    }

    function deleteFile(o) {
        while (o.tagName != "DIV") o = o.parentNode;
        o.parentNode.removeChild(o);
    }
</script>
{% end %}

{% block main %}
<div class="col-md-6 col-md-offset-3">
    <form action="/upload/pictures" id="form1" method="post" enctype="multipart/form-data">
        <h3>multi-pictures-upload</h3>
        <br>

        <div id="pictures">
            <input type="file" size="100" name="pictures" class="btn btn-info">
        </div><br>
        <div>
            <input class="add btn-info" type="button" value="add" onClick="addfile()"/>
        </div>
        <div>
            <input class="sub btn-info" type="submit" value="submit"/>
        </div>
    </form>
</div>
{% end %}